@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;500;600&display=swap');

body,
body * {
  margin: 0;
  font-family: "IBM Plex Sans", serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-root,
.MuiButton-root,
.MuiInputBase-root {
  font-family: "IBM Plex Sans", serif !important;
}
